.education {
  padding: 0 6px;
  padding-top: 80px;
  .headline {
    font-size: 40px;
  }
  .wrapper {
    width: 100%;
    margin: 0;
  }

  .video-game-container {
    margin: auto 6px;
    img {
      width: 100%;
    }
  }

  .gray {
    background-color: map-get($primitives, gray);
  }
  .accent {
    background-color: map-get($primitives, accent);
    // color: white;
  }
  .darkblue {
    background-color: map-get($primitives, secondary);
    color: white;
  }
  .gray,
  .accent,
  .darkblue {
    margin: 10px 0;
    padding: 10px 12px;
    border-radius: 12px;
    margin: 6px;
  }
  .col-6,
  .col-12 {
    padding: 0;
  }

  .mb-12 {
    margin-bottom: 12px;
  }
  .mb-80 {
    margin-bottom: 80px;
  }

  #space-filler-5-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 197px;
    background-image: url("../../public/space-filler-5.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
