#login-container {
  margin-top: 90px !important;

  #space-filler-1 {
    position: absolute;
    top: 0;
    right: 0;
  }
  #space-filler-2 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.heading-container {
  margin-bottom: 40px;
}
