#space-filler-5-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 124px;
  background-image: url("../../public/space-filler-6.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
