/* -------------------------------------------------------------------------- */
/*                          Identity Color Definition                         */
/* -------------------------------------------------------------------------- */

// Primitives
$primitives: (
    black: #000000,
    white: #ffffff,
    grey800: #1f1f1f,
    grey700: #3d3d3d,
    grey600: #5c5c5c,
    grey500: #7a7a7a,
    grey400: #999999,
    grey300: #b8b8b8,
    grey200: #d6d6d6,
    grey100: #f5f5f5,
    grey50: #fafafa,
    bluegrey1000: #0D121A,
    bluegrey900: #151d2a,
    bluegrey800: #1a2333,
    bluegrey700: #293852,
    bluegrey600: #3d557a,
    bluegrey500: #5271a3,
    bluegrey400: #7791bb,
    bluegrey300: #a0b2cf,
    bluegrey200: #c9d3e4,
    bluegrey100: #f1f4f8,
    purple700: #3c1862,
    purple600: #5a2593,
    purple500: #7731c2,
    purple400: #975cd6,
    purple300: #b185e0,
    purple200: #d5beef,
    blue700: #122f68,
    blue600: #1c479c,
    blue500: #255fd0,
    blue400: #5282e0,
    blue300: #86a8ea,
    blue200: #bacdf3,
    cyan700: #006c7a,
    cyan600: #00a2b8,
    cyan500: #00d7f5,
    cyan400: #33e7ff,
    cyan300: #70eeff,
    cyan200: #adf5ff,
    green900: #03110a,
    green800: #0a331d,
    green700: #104d2c,
    green600: #15653a,
    green500: #1f9858,
    green400: #2acb75,
    green300: #45d98a,
    green200: #88e7b4,
    green100: #bbf1d4,
    green50: #eefcf4,
    yellow700: #7a6a00,
    yellow600: #b89f00,
    yellow500: #f5d400,
    yellow400: #ffe433,
    yellow300: #ffec70,
    yellow200: #fff4ad,
    orange700: #7a4100,
    orange600: #b86200,
    orange500: #f58300,
    orange400: #ffa033,
    orange300: #ffbc70,
    orange200: #ffd9ad,
    red700: #7a0000,
    red600: #b80000,
    red500: #f50000,
    red400: #ff3333,
    red300: #ff7070,
    red200: #ffadad,
);