/* -------------------------------------------------------------------------- */
/*                          Identity Color Definition                         */
/* -------------------------------------------------------------------------- */

// Primitives
$primitives: (
  accent: #00e0a1,
  accentBG: rgba(0, 224, 161, 0.3),
  accent-darker: #00ca91,
  primary: #ffffff,
  secondary: #191645,
  secondaryBG: rgb(25, 22, 69, 0.7),
  black: #000000,
  gray: #f0f0f0,
);
