/* -------------------------------------------------------------------------- */
/*                          Identity Color Definition                         */
/* -------------------------------------------------------------------------- */

// Primitives
$primitives: (
  accent: #00e0a1,
  accent-darker: #00ca91,
  primary: #ffffff,
  secondary: #191645,
  black: #000000,
);
