@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
html,
body {
  font-family: "Open Sans", sans-serif;
}

h1,
.h1 {
  font-size: 44px;
  font-weight: 400;
}

h2,
.h2 {
  font-size: 32px;
  font-weight: 400;
}

h3,
.h3 {
  font-size: 24px;
  font-weight: 500;
}

h4,
.h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

a {
  text-decoration-color: map-get($primitives, accent);
  color: map-get($primitives, secondary);
  text-decoration-thickness: 3px;
  text-underline-offset: 2px;
}

.error-message {
  color: red;
  margin: 0 3px 10px 3px;
  position: relative;
  top: -10px;
}

.headline {
  color: map-get($primitives, accent);
  font-weight: 600;
}
